<!doctype html>
<html class="no-js" lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DCsite</title>
    <link rel="stylesheet" href="bower_components/pure/base-min.css" />
    <link rel="stylesheet" href="bower_components/pure/grids-min.css" />
    <link rel="stylesheet" href="bower_components/pure/menus-min.css" />
    <!-- <link rel="stylesheet" href="bower_components/pure/buttons-min.css" /> -->

    <link rel="stylesheet" href="./css/common.css">
  </head>
  <body ng-app="myapp">
    <div class="container">
      <div class="pure-menu pure-menu-horizontal" style="display:none;">
        <a href="#" class="pure-menu-heading pure-menu-link">登录</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">我的订单</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">购物车</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">收藏本站</a></li>
        </ul>
      </div>
      <div class="pure-g">
        <img class="pure-u-1-4" src="img/title.png"></img>
        <form class="search-bar">
          <input type="text" placeholder="iphone8">
          <button class="">搜 索</button>
        </form>
      </div>
    </div>
    <nav id="headernav" class="pure-menu pure-menu-horizontal menu-goods">
      <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="#" id="menu-items-all" class="pure-menu-link">全部商品分类</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">首页</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">服装</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">食品</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">IT数码</a></li>
      </ul>
    </nav>
    <div class="container">
      <aside class="pure-u-5-24 menu-goods" ng-controller="menuCtrl">
        <div class="pure-menu custom-restricted-width pure-menu-allow-hover">
          <ul class="pure-menu-list" ng-repeat=" lists in datalist">
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                <a href="#" id="menuLink1" class="pure-menu-link">{{lists.key.join("、")}}</a>
                <ul class="pure-menu-children menu-children-second">
                    <li class="pure-menu-item"  ng-repeat="list in lists.children">
                      <a href="#" class="pure-menu-link">{{list.key.join("、")}} </a>
                      <a href="#" class="menu-link-third" ng-repeat="i in list.children">
                        {{i}}
                      </a>
                      
                    </li>
                </ul>
            </li>
          </ul>
        </div>
      </aside>
      <div class="pure-u-18-24" ng-view></div>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="./js/app.js"></script> 
    <script src="./js/controllers.js"></script>
    <script src="./js/routes.js"></script>  
    <script src="./js/directives.js"></script> 
    <script src="./js/filters.js"></script> 
    <script src="./js/services.js"></script>
  </body>
</html>
