/*reset for pure.css*/
html,body{
    font-family: "微软雅黑",Arial;
}
.pure-menu-has-children > .pure-menu-link::after{
    position: absolute;
    right: .1em;
}
aside .pure-menu-link,aside .pure-menu-heading{
    padding: .3em .2em;
}
/*reset end*/
.container{
    width: 1000px;
    margin: 0 auto;
}

.pure-menu-children,.pure-menu-has-children{
    background:#00B9AF;     
}

.menu-goods{
    background: #00B9AF;
}

/*header*/
#headernav .pure-menu-list{
    display: block;
    width: 1000px;
    margin: 0 auto;
}
.menu-goods .pure-menu-link{
    color: #fff;
}
.menu-goods .pure-menu-link:hover{
    background: #00938B;
}

#menu-items-all{
    width: 175px;
}

.menu-children-second{
    background: #00938B; 
    width: 400px;
}
.menu-children-second .pure-menu-link{
    display: inline-block;
    width: 80px;
    text-align: right;
}
.menu-children-second .menu-link-third{
    font-size: .8em;
    text-decoration: none;
    color: #fff;

}
.menu-children-second .menu-link-third::before{
    content: "|";
}
.menu-children-second .menu-link-third:hover{
    /*text-decoration: underline;*/
    color: #f00;
}
.search-bar{
    padding: 3px;
    margin:10px auto 10px 10px;
    background: #00B9AF;
    width: 386px;
    display: inline-block;
}
.search-bar input{
    width: 300px;
    border:none;
    float: left;
    line-height: 28px;
}
.search-bar button{
    width: 80px;
    background: #00B9AF;
    color: #fff;
    border: none;
    float: right;
    line-height: 28px;
    font-size: 20px;
}

.item-box{
    margin: 5px;
    /*background: #ff0;*/
}
.item-box a{
    text-decoration: none;
}
.item-box:hover{
    /*border: 1px solid #00B9AF;*/
    opacity: 0.8;
}

.item-box .p-thumb{
    width: 100%;
}

.item-box .p-title,.item-box .p-price{
    margin-top:0;
}

